
@media only screen and (min-width : 768px) {
    .panelWrapper .card .panelText h2 {
        font-size: 2.8rem; 
    }
    
    div.panelText.card-text p {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

.panelWrapper .card .panelText h2 {
    font-size: 2.8rem; 
}

div.panelText.card-text p {
    font-size: 1.6rem;
    line-height: 1.5;
}
