#globalHeader .dropdown-toggle::after {

    display: none

}

#globalHeaderResourcesWrapper {

    font-weight: 500;

}

#globalHeaderResourcesLinks li a {

    text-decoration: none;

}

#globalHeaderResourcesLinks li a:hover {

    text-decoration: underline;

}

#globalHeaderNavigation li.mega-dropdown {

    margin: 0.25rem;
    padding: 0.25rem;
}

#globalHeaderNavigation li.dropdown a {

    margin: 0.25rem;
    padding: 0.25rem;
    text-decoration: none;

}

#globalHeaderNavigation li.dropdown a:hover {

    text-decoration: underline;

}





@media only screen and (min-width: 992px) {

    #globalHeaderNavigationWrapper {

        display: contents;

    }

    #globalHeaderNavigation.navbar-nav {

        flex-direction: row;

    }

    #globalHeaderResourcesLinks.navbar-nav {

        align-items: baseline;
        flex-direction: row;
        
    }
}






/*********************
*
*   Reference Breakpoints
*
**/

/* Galaxy Fold (less than 280px) */
@media only screen and (max-width: 280px) {}

/* iPhone X (less than 376px) */
@media only screen and (max-width: 376px) {}

/* Surface Duo (less than 540px) */
@media only screen and (max-width: 540px) {}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {}

/* iPad Pro (iPad Pro, 1024px to 1200) */
@media screen and (min-width: 1024px) and (max-width: 1199.98px) {}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}

/* X Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1366px) {}

/* XX Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1920px) {}

/* XXX Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 2560px) {}

/* ***** Mobile Up ***** */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 767.999px) {}

/* ***** Desktop down ***** */
@media screen and (max-width: 1200px) {}