/* ***** Mobile Up ***** */
@media screen and (min-width: 992px) {

    footer #footerInner {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
    }
}

/* Desktop down */
@media screen and (max-width: 991.98px) {

    footer #organization {
        text-align: center;
    }

    footer #organization img {
        max-width: 50%;
    }

    footer h4 {
        margin: 0 0 15px 0;
        padding: 0;
    }

    footer #footerInner .footerLinks {
        margin-bottom: 2rem;
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up to 1199) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    footer #footerContact {
        margin-left: 2.5rem;
        padding-left: 2.5rem;
    }

    footer #organization {
        line-height: 1.5rem;
    }

    footer #organization .name {
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    footer .footerLinks {
        font-size: 1rem;
    }

    footer .footerLinks a {
        font-size: 0.9rem;
    }

    footer h4 {
        font-size: 1.5rem;
    }

    #footerCallToActionLinks a {
        font-size: 1.25rem;
    }

}

/* Large devices (large desktops, 1200px and up) */
/* @media screen and (min-width: 1200px) {} */

/* X-Large devices (desktops, 1200px and up to 1365) */
@media screen and (min-width: 1200px) and (max-width: 1365.99px) {

    footer #footerContact {
        margin-left: 3rem;
        padding-left: 3rem;
    }

    footer #organization {
        line-height: 1.75rem;
    }

    footer #organization .name {
        font-size: 1.5rem;
        font-weight: 500;
        margin-top: 1rem;
    }

    footer .footerLinks {
        font-size: 1.25rem;
    }

    footer .footerLinks a {
        font-size: 1.25rem;
    }

    footer h4 {
        font-size: 2rem;
    }

    #footerCallToActionLinks a {
        font-size: 1.5rem;
    }

}

/* X Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1366px) {

    footer #footerContact {
        margin-left: 4rem;
        padding-left: 4rem;
    }

    footer #organization .name {
        font-size: 1.75rem;
        font-weight: 500;
        margin-top: 1rem;
    }
}

footer .footerLinks a {
    text-decoration: none;
}

footer .footerLinks a:hover {
    text-decoration: underline;
}

#footerCallToActionLinks a {
    border-radius: 0;
}
