/* ***** Mobile Up ***** */
@media screen and (min-width: 992px) {

    footer #footerInner {
        display: flex;
        flex-wrap: wrap;
        max-width: none;
    }
}

/* Desktop down */
@media screen and (max-width: 991.98px) {

    footer #footerInner .footerLinks {
        text-align: center;
    }
}

#footerCallToActionLinks a {
    border-radius: 0;
}

/* (min-width: 768px) and  */
